
@{
    ViewBag.Title = "Bio";
}
<a class="btn-primary" href="/Profile/Bio">Bio</a>
<a class="btn-primary" href="/Profile/Education">Education</a>
<a class="btn-primary" href="/Profile/Projects">Projects</a>
<a class="btn-primary" href="/Profile/References">References</a>
<h2>Bio</h2>
<p>Hey, Here I am Prosit Kumar das from CSE Department at AIUB</p>

