
@{
    ViewBag.Title = "Index";
}
<a href="/Profile/Bio">Bio</a>
<a href="/Profile/Education">Education</a>
<a href="/Profile/Projects">Projects</a>
<a href="/Profile/References">References</a>
<h2>Name: Prosit Kumar Das</h2>
<h2>Id: 20-44063-2</h2>
<h2>Email: prosit.kd@gmail.com</h2>
<h2>Contact no: 01777025958</h2>



