
@{
    ViewBag.Title = "References";
}
<a href="/Profile/Bio">Bio</a>
<a href="/Profile/Education">Education</a>
<a href="/Profile/Projects">Projects</a>
<a href="/Profile/References">References</a>

<h2>References</h2>
<p>Name:@ViewBag.Name </p>
<p>Email:@ViewBag.Email</p>
<p>Designation: @ViewBag.Designation</p>

